.Main {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.GlavnaSlika{
  width: 100%;
  height: 100%;
}
.SporedneVijesti{
  display: flex;
  flex-direction: row;
  padding-right: 5px;   
  margin-left: 5px;
}
.SporedneVijesti>div{
  margin-left: 5px;
}
.SporedneSlike{
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}
.PrvaVijest{
  text-align: left;
  margin-bottom: 10px;
}
.DrugaVijest{ 
  text-align: left;
  margin-bottom: 10px;
}
.PrvaVijest h3{
  margin-left: 5px;
}
.PrvaVijest p{
  margin-left: 5px;
}
.DrugaVijest h3{
  margin-left: 5px;
}
.DrugaVijest p{
  margin-left: 5px;
}