.card {
  display: flex;
  border: 1px solid black;
  width: 100%;
  margin-top: 20xpx;
}
.card > h3 {
  text-align: start;
  margin-left: 5px;
}
.card > p {
  text-align: left;
  color: aqua;
  margin-left: 5px;
}
.Aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: aside;
  border: 2px solid black;
  background-color: palegreen;
}
.Aside>h2{
  text-align: left;
}
.asideContent {
  display: flex;
  flex-direction: column;
}
.SlikaNovosti{
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}
.TekstNovosti{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 5px;
}